<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Add Timesheet</title>
</head>
<body>
	<h1>Add Timesheet For Employee</h1>
	<hr>
	<form action="saveTimesheet" method="post" th:object="${timesheet}">
		<span>Employee No</span><input type="text" th:field="*{empNo}"><br />
		<span>Timesheet No</span><input type="text" th:field="*{tno}"><br />
		<span>Project Id</span><input type="text" th:field="*{pId}"><br />
		<span>Project Type</span><input type="text" th:field="*{pType}"><br />
		<span>Location</span><input type="text" th:field="*{location}"><br />
		<span>Total Hours</span><input type="text" th:field="*{totalHours}"><br />
		<input type="submit" value="Add Timesheet">
	</form>
</body>
</html>