<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Edit Employee</title>
</head>
<body>
<body>
	<h1>Edit Employee to Database</h1>
	<hr>
	<form action="updateEmp" method="post" th:object="${employee}">
		<span>Emp No</span><input type="text" th:field="*{empNo}"><br />
		<span>Name</span><input type="text" th:field="*{name}"><br />
		<span>City</span><input type="text" th:field="*{city}"><br />
		<span>Salary</span><input type="text" th:field="*{salary}"><br />
		<input type="submit" value="Edit Emp">
	</form>
</body>
</html>